.login -card {
    width: 300px;
}

.containerY {
    height: 100%;
}

.header-image {
    background-size: cover;
}

.input-container-login {
    width: 100%;
}

.card-action-login {
    float: right;
}

.material-icons.indigo {
    color: indigo;
}

.error-msg {
    font-size: 12px;
    color: brown;
}