<div class="containerY" fxLayout="column" fxLayoutAlign="center center">
  <div class="containerX" fxLayout="row" fxLayoutAlign="center center">

    <md-card class="sign-up-card">
      <form #userForm="ngForm">
        <md-card-header>
          <div md-card-avatar class="header-image"><i class="material-icons md-58 indigo">face</i></div>
          <md-card-title>Cadastre-se</md-card-title>
        </md-card-header>

        <md-card-content>
          <md-input-container>
            <input mdInput required type="email" minlength="6" name="email" placeholder="email" [(ngModel)]="user.email" value="">
          </md-input-container>
          <md-input-container>
            <input mdInput required type="password" name="password" minlength="6" placeholder="senha" [(ngModel)]="user.password" value="">
          </md-input-container>
          <md-input-container>
            <input mdInput required type="password" name="password-confirm" minlength="6" placeholder="confirme sua senha" [(ngModel)]="passwordConfirm"
              value="">
          </md-input-container>
        </md-card-content>

        <span *ngIf="errorMsg" class="error-msg">{{errorMsg}}</span>
        <md-card-actions>
          <a md-raised-button color="primary" routerLink="/login">voltar</a>
          <button md-raised-button color="accent" [disabled]="!userForm.form.valid" name="cadastrar" (click)="newUser(user)">cadastrar</button>
        </md-card-actions>
      </form>
    </md-card>
  </div>

</div>
