.sign-up-card {
    width: 300px;
}

.containerY {
    height: 100%;
}

.header-image {
    background-size: cover;
}

.input-container-sign-up {
    width: 100%;
}

.card-action-sign-up {
    float: right;
}

.error-msg {
    font-size: 12px;
    color: brown;
}