[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.btn-inverse{
    width:100% !important;
    background:black !important;
    color:white !important;
}

.porta {
    background: brown;
}

.pl {
    border-left: 0px !important;
}

.pb {
    border-bottom: 0px !important;
}

.pr {
    border-right: 0px !important;
}

.pt {
    border-top: 0px !important;
}

#divTabuleiro {
    overflow: auto;
    padding: 50px;
    cursor:move;
}

.linha {
    width: 1300px;
    height: 50px;
}

.item_tab {
    width: 50px;
    height: 50px;
    float: left;
}

.nav_blue {
    background-color: #263A4A !important;
}

body {
    overflow: hidden;
}

.conteudo_cartas {
    overflow: auto;
    cursor:move;
}

.perfil {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
}

/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
    width: 12px;
}

/* Track */

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: white;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}


.avatar {
    background-color: #263A4A;
    padding: 10px;
    color: white;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

    .avatar span {
        margin-left: 15px;
    }

.table_cartas {
    border: 1px solid #263A4A;
    margin-bottom: 0px !important;
}

.titulo_cartas {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: aliceblue;
}

.todos_personagens {
    padding: 5px;
    position: absolute;
    width:420px;
    height:105px;
    z-index:1031;
    top: 83%;
    left: 32%;
}

.perfil_grid {
    width:28px;
    margin:5px;
}

.active{
    width:50px;
}

.dados{
    position:absolute;
    top:73%;
    right:20%;
    font-size: 56px;
    color:white;
    background-color:rgb(38, 58, 74) ;
    padding: 5px 5px 5px 5px;
    border-radius: 28px;
}

.palpite{
    position:absolute;
    top:83%;
    left:1%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #eee
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* Chat */
.chat_corpo{
    width: 100%;
    max-height: 250px;
    height: 250px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.63);
}

.eu {
    color: #ece961;
    font-weight: bold;
}

.jogador1{
    color:#6184ec;
    font-weight: bold;
}

.jogador2{
    color:orange;
    font-weight: bold;
}

.mensagem{
    padding-top: 5px;
    margin: 5px;
}

.chat_texto{
    color: white;
}

/*CARTAS*/
.carta {
    width: 100px;
    height: 140px;
    float: left;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.carta_sombra {
    box-shadow: 10px 10px 5px #888888;
}

    .carta div{
        position:relative;
        top:2%;
        left:23%;
        margin-bottom:5px;
    }

    .carta span {
        color: white;
        font-weight: bold;
        margin-top:5px;
    }

    .carta.personagem {
        background-color: #183694;
    }



    .carta.arma {
        background-color: #941818;
    }

    .carta.local {
        background-color: #189431;
    }

.banir {
    border: 3px solid #d0d0d0;
}

.casaDispo{
    background: rgba(0, 0, 255, 0.45);
    cursor: pointer !important;
}

.peao{
    height: 45px;
    display: block;
    margin:auto;
}

.jogador_ativo{
    background:red !important;
}

.lancar_dados{
    position: absolute;
    top:40%;
    left:35%;
    width:250px;
}

.lancar_dados .titulo{
    width: 100%;
    height: 25px;
    text-align: center;
    background-color: orange;
    color: white;
    border-radius: 6px 6px 0px 0px;
    font-weight: bold;
}

.resultado{
    position: absolute;
    top:26%;
    left:30%;
    width: 30%;
}

.resultado .titulo{
    color:white;
    width: 100%;
    height: 35px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    display: block;
    margin:auto;
    background-color: orange;
    border-radius: 6px 6px 0px 0px;
}

.resultado .conteudo{
    background: #263A4A;
    color: white;
    height: auto;
    padding: 5px;
    border-radius:  0px 0px 6px 6px;
}

.numeroCasas{
    font-size: 100px;
}